@charset "utf-8";

@font-face {
    font-family: 'passione';
    src: url('../fontes/Passion_One/PassionOne-Bold.ttf') format('opentype');
}
@font-face {
    font-family: 'siracha';
    src: url('../fontes/Sriracha/Sriracha-Regular.ttf') format('opentype');
}


.tarjapreta{
    background-color: black;
    height: 280px;
    margin: -20px;
}
h1{
    font-family: 'passione', cursive, Arial, Helvetica, sans-serif;
    margin: -48px;
    color: white;
    text-align: center;
    padding: 80px;
    font-size: 47px;
}

a{
    color: white;
    margin-left: 45%;
    margin-top: -20px;
    text-decoration: none;
    
}

.normal{
    width: 60vh;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    
}
article > p{
    font-family: 'siracha';
    text-align: left;
    padding: 10px;
    font-size: 47px;
    line-height: 1.5em;
    margin: 20px;
}
.conteiner{
    background-attachment: fixed;
    position: relative;
    margin: -20px;
    height: 100vh;
    background-image: url(/imagens/background001.jpg);
    background-position: center right;     
}
#first{
    font-family: 'saricha', cursive, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: bold;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.274);
    height: 600px;
    width: 500px;
    top: 5%;
    left: 3%;
  
}
.normall{
    width: 60vh;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    
}
#second{
    font-family: 'siracha';
    text-align: left;
    padding: 10px;
    font-size: 47px;
    line-height: 1.5em;
    margin: 20px;

}

.normalll{
    width: 60vh;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
#last{
    font-family: 'siracha';
    text-align: left;
    padding: 10px;
    font-size: 47px;
    line-height: 1.5em;
    margin: 20px;
}
.conteine{
    background-attachment: fixed;
    position: relative;
    margin: -20px;
    height: 100vh;
    background-image: url(/imagens/background002.jpg);
    background-position: center right;

     
}
.n{
    width: 60vh;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    
}
#f{
    font-family: 'siracha';
    text-align: left;
    padding: 10px;
    font-size: 47px;
    line-height: 1.5em;
    margin: 20px;
}
.no{
    width: 60vh;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    
}
#se{
    font-family: 'siracha';
    text-align: left;
    padding: 10px;
    font-size: 47px;
    line-height: 1.5em;
    margin: 20px;
}
